
<div class="menu-bar">
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/reservations">Reservations</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>
      <li><a routerLink="/login">Log In</a></li>
      <!-- Puedes agregar más opciones de menú según sea necesario -->
    </ul>
  </nav>
</div>
<video id="video-background" autoplay muted loop>
  <source src="assets/fondo.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<router-outlet></router-outlet>

<footer>
  <!-- Puedes agregar contenido adicional en el pie de página si es necesario -->
</footer>
