.reservation-list {
  margin: 20px;
  text-align: center;
  color: #ddd
}

.reservation-form {
  display: inline-block;
  border: 10px solid #ddd;
  padding: 20px;
  margin-right: 20px;
}

.reservation-item {
  border: 1px solid #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}