<body class="reservations">
<div class="reservation-list">
  <h1>Nueva Reserva</h1>
  <div class="reservation-form">
    <form (ngSubmit)="createReservation()" #reservationForm="ngForm">
      <div>
        <label for="eventName">Nombre del Evento:</label>
        <input type="text" id="eventName" name="eventName" required [(ngModel)]="eventName">
      </div>
      <div>
        <label for="eventDate">Fecha del Evento:</label>
        <input type="date" id="eventDate" name="eventDate" required [(ngModel)]="eventDate">
      </div>
      <div>
        <label for="location">Ubicación:</label>
        <input type="text" id="location" name="location" required [(ngModel)]="location">
      </div>
      <button type="submit">Crear Reserva</button>
    </form>
  </div>

  <ng-container *ngIf="reservations.length === 0; else reservationList">
    <ng-template>
      <p>No existen reservaciones creadas aún.</p>
    </ng-template>
  </ng-container>

  <ng-template #reservationList>
    <h2>Lista de Reservas</h2>
    <button (click)="showReservations()">Mostrar Reservas</button>
    <button (click)="deleteAllReservations()">Eliminar Todas las Reservas</button>

    <ul *ngIf="showReservationsFlag">
      <li *ngFor="let reserva of reservations" class="reservation-item">
        <span><strong>ID:</strong> {{ reserva.id }}</span><br>
        <span><strong>Nombre de la Reserva:</strong> {{ reserva.nombre }}</span><br>
        <span><strong>Fecha:</strong> {{ reserva.fecha | dateFormat: 'long' }}</span><br>
        <span><strong>Evento:</strong> {{ reserva.eventName }}</span><br>
        <span><strong>Lugar:</strong> {{ reserva.location }}</span><br>
        <!-- Añadir más propiedades si es necesario -->
        <hr>
      </li>
    </ul>
  </ng-template>
</div>
</body>
