<body class="login">
<div class="log-in-container">
  <h2>{{ registrationMode ? 'Register' : 'Log In' }}</h2>
  <form (ngSubmit)="onSubmit()" class="log-in-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="user.username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required>

    <button type="submit">{{ registrationMode ? 'Register' : 'Log In' }}</button>
  </form>

  <button type="button" (click)="toggleRegistrationMode()">
    {{ registrationMode ? 'Already have an account? Log In' : 'Don\'t have an account? Register' }}
  </button>
</div>
</body>

<router-outlet></router-outlet>

