body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.menu-bar {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.menu-bar nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu-bar nav li {
  margin: 10px;
}

.menu-bar a {
  color: #0c0c0c;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-bar a:hover {
  color: #e74c3c;
}

/* Agregar imágenes de fondo para cada opción de menú */
body {
  background-size: cover;
  background-position: center;
}

body.home {
  background-image: url('src\assets\pngtree-black-surface-with-light-points-and-light-shining-through-picture-image_2682744.jpg');
}

body.reservations {
  background-image: url('src\assets\pngtree-stage-light-technology-streamer-simple-and-minimalist-style-picture-image_2387298.jpg');
}

body.gallery {
  background-image: url('src\assets\pngtree-laser-spotlight-show-performance-concert-stage-decoration-pattern-picture-image_2249304.jpg');
}

body.login {
  background-image: url('src\assets\42061755-escenario-iluminado-con-luces-escénicas-vector-de-fondo.jpg');
}
