body, html {
  height: 80%;
  margin: 0;
  background: url('C:\Users\clikb\angular-reservation-system\src\assets\pngtree-laser-spotlight-show-performance-concert-stage-decoration-pattern-picture-image_2249304.jpg') no-repeat right center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Color de fondo del encabezado */
}

.header h1 {
  color: #FF1493;
  font-size: 36px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.festive-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(252, 250, 250);
  margin: 20px;
}

.festive-menu {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.festive-menu a {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease;
}

.festive-menu a:hover {
  color: #e74c3c;
}