
<body class="home">
<div class="home-container">
  <h1>Bienvenido a Eventos Magic Forever</h1>
  <p>¡Donde tus celebraciones se transforman en experiencias mágicas
     e inolvidables! Nos enorgullece ofrecer un servicio integral que abarca cada aspecto esencial de tus eventos. 
     Desde nuestro exquisito buffet que deleitará tu paladar con sabores excepcionales, hasta nuestra destacada 
     tecnología en audio e iluminación que sumergirá tus momentos en atmósferas cautivadoras. No olvides explorar 
     nuestra especialidad en decoración de eventos, donde convertimos tus sueños en escenarios cautivadores. 
     En Eventos Magic Forever, no solo planificamos eventos; creamos momentos extraordinarios que perdurarán en la memoria de todos tus invitados.</p> 
     
  <p> ¡Descubre la magia en cada detalle con nosotros!</p>
</div>
</body>

<router-outlet></router-outlet>